<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travelians</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>

  <div id="app">
    <div class="app-header">
      <h1>Travelians App</h1>
    </div>

    <div class="app-body">

      <input type="text" class="location" placeholder="locatin">
      <input type="date" class="date" placeholder="date">

      <button>CHECK OUT</button>

    </div>
  </div>


  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>