<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travelians</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="../styles/style.scss"> -->
</head>

<body>
  <div id="app">
    <div class="app-header">
      <h1>Travelians App</h1>
    </div>

    <div class="app-body">

      <input type="text" class="location" placeholder="locatin">
      <input type="date" class="date" placeholder="date">

      <button>CHECK OUT</button>

    </div>

    <!-- <div class="result">
      <img src="https://pixabay.com/get/57e0d74b4e52b108f5d084609629307c1438d8e3504c704c7c2c7ad0924ac15c_1280.jpg">
      <div class="info">
        kndslknflksd
      </div>
    </div> -->


  </div>

  <!-- <script src="../js/app.js" type="text/javascript"></script> -->

</body>

</html>